
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNetCore.Http;
  <div class="jumbotron">
    <h3><center><b>ONLINE MOVIE TICKET BOOKING</b></center></h3>
    <br>
    <p class="lead">In this project the admin deals with Multiplex, Auditorium and Movie Details.
      E-ticket system is basically made for providing the customer an anytime and anywhere
     services for booking the seat in the cinema hall and to gather information about the movies online.
     Our online E-Ticket System (ETS) is a web-based system.</p>
</div>
@*<h2>Welcome @Context.Session.GetString("uname")!!</h2>*@
@*<a asp-action="" asp-controller="Account"> Logout</a>*@
