@model coreMovieTicketAdminPortal.Models.MovieDetail
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><b>CREATE</b></h2>
<br />
@*<form asp-action="Create" asp-controller="MovieDetail">
    <label asp-for="MovieId"></label>
    <input type="text" asp-for="MovieId" />
    <br />
    <label asp-for="Casting"></label>
    <input type="text" asp-for="Casting" />
    <br />

    <label asp-for="Producer"></label>
    <input type="text" asp-for="Producer" />
    <br />

    <label asp-for="Director"></label>
    <input type="text" asp-for="Director" />
    <br />

    <label asp-for="MovieType"></label>
    <input type="text" asp-for="MovieType" />
    <br />

    <label asp-for="MovieImage"></label>
    <input type="text" asp-for="MovieImage" />
    <br />

    <label asp-for="MovieDuration"></label>
    <input type="text" asp-for="MovieDuration" />
    <br />

    <label asp-for="Price"></label>
    <input type="text" asp-for="Price" />
    <br />

    <input type="submit" value="Create MovieDetail" />

</form>*@

    <form asp-action="Create" asp-controller="MovieDetail">
        <div class="form-group">
                <label asp-for="MovieId"><b>Movie Name</b></label>
                @*<input type="text" class="form-control" asp-for="MovieId" placeholder="Enter Movie Id">*@
                <select  class="form-control" asp-for="MovieId" asp-items="ViewBag.movie"></select>
          
        </div>


        <div class="form-group">
            <label asp-for="Casting"><b>Casting</b></label>
            <input type="text" class="form-control" asp-for="Casting" placeholder="Enter Casting">
        </div>

        <div class="form-group">
            <label asp-for="Producer"><b>Producer</b></label>
            <input type="text" class="form-control" asp-for="Producer" placeholder="Enter Producer">
        </div>

        <div class="form-group">
            <label asp-for="Director"><b>Director</b></label>
            <input type="text" class="form-control" asp-for="Director" placeholder="Enter Director">
        </div>

        <div class="form-group">
            <label asp-for="MovieType"><b>Movie Type</b></label>
            <input type="text" class="form-control" asp-for="MovieType" placeholder="Enter Movie Type">
            @*<select class="form-control" asp-for="MovieType" asp-items="ViewBag.movie"></select>*@
        </div>

        <div class="form-group">
            <label asp-for="MovieImage"><b>Movie Image</b></label>
            <input type="text" class="form-control" asp-for="MovieImage" placeholder="Enter Movie Image">
        </div>

        <div class="form-group">
            <label asp-for="MovieDuration"><b>Movie Duration</b></label>
            <input type="text" class="form-control" asp-for="MovieDuration" placeholder="Enter Movie Duration">
        </div>

        <div class="form-group">
            <label asp-for="Price"><b>Price</b></label>
            <input type="text" class="form-control" asp-for="Price" placeholder="Enter Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="MovieDetail" asp-action="Index" class="btn btn-light"><b>Back To List</b></a>
    </form>
